
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

body {
    background-color:rgb(68, 68, 68);
    background-image: url('../img/thanos_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.ebony, .proxima{
     background-image: url('../img/armybg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}

body.ebony{
    color: white;
}

html, body{

    margin: 0;
    padding: 0;
}

h1{
  font-family: sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 40px;
  letter-spacing: 2px;
  margin: 10px 0;
  color: aliceblue;
}

h2{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.507);
    margin: 0;
    line-height: 1;
    padding: 10px;
}

h3, p {
    max-width: 80%;
    margin: 10px auto;
}

/* Nav */

nav {
    background-color: rgb(17, 17, 17);
    display: flex;
    align-items: center; /* vertical centering */
    justify-content: space-between; /* logo left, menu right */
    padding: 0 50px;
}

.logo{
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 2rem;
}

nav a{
    text-decoration: none;
    color: white;
    
}

nav ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 5em;
    margin: 0;
    padding: 1em 0;
}

nav ul li{
    padding: 0 20px;
}

nav button{
    color: white;
    background: none;
    border: 1px solid white;
    padding: 1em 2em;
    border-radius: 5em;
    transition: all 0.2s ease;
}

nav button:hover{
    background-color:  rgba(134, 90, 175, 0.63);;
}

li.menu-button{
    display: none;
}

/* ==================================== */

/* Sidebar */
.sidebar{
    
    position: fixed;
    top: 0;
    right: 0; /* or left: 0; */
    width: 250px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.432);
    backdrop-filter: blur(10px);
    padding: 20px;
    z-index: 999;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: rgba(0, 0, 0, 0.19) 20px 10px 0px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

li.button{
    width: 55%;
    padding: 0; 
    margin: 0 auto;
}

.sidebar button{
    width: 100%;
    margin: 0 auto;
}


li.close-button{
    width: 100%;
    padding: 0; 
    margin: 0 auto;
}

.close-button a{
    margin-left: 13em;

}



p, ul, ol{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 24px;
}

ul{
    list-style-position: outside;
    padding-left: 0;
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
}
ul{
    list-style: none;
    text-align: center;
}

p.caption{
    font-size: 12;
    font-style: italic;
    margin-block-start: 0;
    text-align: center;
}

a{
    color: rgb(176, 149, 202);
    text-decoration: none;
}

a:hover{
    color: rgb(160, 109, 207);
}

a:active{
    color: white;
}

.hero-section{
    text-align: center;
    padding: 20px;
    background-image: url(../img/titan3.jpg);
    background-repeat: no-repeat;
    background-position: center -731px;
    background-size: cover;
    background-attachment: fixed;
}

.hero-ebony{
    padding: 20px;
    text-align: center;
    background-image: url('../img/sanctuary.jpg');
    background-repeat: no-repeat;
    background-position: center -60px;
    background-size: cover;
    background-attachment: fixed;
}




.pfp-thanos{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid white ;
    background-image: url('../img/thanosprofilepic.png');
    background-repeat: no-repeat;
    background-position: -77px center;
    background-size: 136%;
   margin: 0 auto;
   /* transition: all 0.2s ease; */
}

.pfp-thanos:hover{
    background-image: url(../img/thanos-gif.gif);
    background-position: -10px -10px;
    /* background-size: 160%;
    background-position: -110px -5px;
    filter: saturate(4);
    filter: brightness(3); */
}

.pfp-ebony{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid white ;
    background-image: url('../img/Ebony_Maw_profile2.webp');
    background-repeat: no-repeat;
    background-position: -77px center;
    background-size: cover;
   margin: 0 auto;
   transition: all 0.2s ease;
   
}

.pfp-ebony:hover{
    background-image: url(../img/ebonymaw.gif);
    background-size: cover;
    background-position: -150px 0px;
    /* background-size: 170%;
    background-position: -150px -100px;
    filter: brightness(5);
    filter:contrast(2) */
}

.pfp-proxima{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid white ;
    background-image: url('../img/proximapfp.jpg');
    background-repeat: no-repeat;
    background-position: -180px center;
    background-size: cover;
   margin: 0 auto;

}

.pfp-proxima:hover{
    background-image: url(../img/proxima.gif);
    background-size: cover;
    background-position: -180px 0px;
}



main{
    width: 70vw;
    margin: 1em auto;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

main img{
    max-width: 95%;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}

.about{
    flex: 1.5;
    border-radius: 50px;
    margin: 10px;
}

.about p {
    max-width: 80%;
    margin: 10px auto;
}


.profile {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.about, .characteristics, .army, .table{
    background-color: #000000a1;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    overflow: hidden;
    margin: 10px;

}

.list{
    display: flex;
    width: 100%;
    gap: 4px;
    flex: .5;
}

.characteristics{
    flex: 1;
}

.army{
    flex: 1;
}


.table{
flex: auto;    
}

table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 96%;
    margin: 0 auto;
    height: 87%;
}
td.row {
    width: 30%;
     font-weight: bold;
   
}


td {
  border: 1px solid #8b4b4b;
  padding: 10px;
  text-align: center;
  height: 2em;
}





/* footer */
footer{
    color: azure;
    background-color:rgb(27, 27, 27);
    text-align: center;
    margin-top: 60px;
    padding: 40px;

}

footer .content{
    max-width: 800px;
    margin: 0 auto;

}

@media (max-width: 1200px){

   main{
    display: flex;
    flex-direction: column;
    width: 95vw;
   }

    h2{
        font-size: 2em;  
        text-align: center;
    }
    h3{
       text-align: center; 
    }

    p, ul, ol {
        font-size: 15px;
    }

    p{
        text-align: center;
    }

     .pfp-thanos{
    background-image: url(../img/thanos-gif.gif);
    background-position: -10px -10px;
    }

   .pfp {
    width: 230px;
    height: 230px;
    background-position: -59px center;
    }

    .pfp-ebony{
    background-image: url(../img/ebonymaw.gif);
    background-size: cover;
    background-position: -150px 0px;
    }

    .pfp-proxima{
    background-image: url(../img/proxima.gif);
    background-size: cover;
    background-position: -180px 0px;
}

    

    .HideOnMobile{
        display: none;
    }

    li.menu-button {
    display: flex;
    justify-self: flex-end;
    margin: 0;
    padding: 0;
    }
    .characteristics{
        flex: 1;
    }
    .army{
        flex: 1;
    }
    table{
        width: 75%;
    }

    .list{
    flex-flow: column;
    }
 footer p {
        font-size: 10px;
    }
}

